.header {
  max-width: 100vw;
  background-color: #fff;
  border-bottom: 1px solid #ddd;
  padding: 10px 20px;
}

.container {
  max-width: 1920px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.header-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-left {
  display: flex;
  align-items: center;
  gap: 10px;
}

.menu-icon {
  font-size: 20px;
  cursor: pointer;
}

.categories-text {
  font-size: 16px;
}

.link-down {
  text-decoration: none;
  color: rgb(130, 130, 130);
  margin-right: 20px;
}

.header-center {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  height: 50px;
  margin-bottom: 30px;
}
.merch {
  box-sizing: border-box;
  height: 50px;
  margin-left: 20px;
}

.search-input {
  box-sizing: border-box;
  height: 50px;
  border: 2px solid #ccc;
  border-right: none;
  border-radius: 3px 0 0 3px;
  padding: 0 10px;
  flex: 1;
}

.search-button {
  box-sizing: border-box;
  height: 50px;
  border-left: none;
  border-radius: 0 3px 3px 0;
  background-color: #333;
  cursor: pointer;
  padding: 0 20px;
}

.search-button:hover {
  background-color: #e0e0e0;
}

.logo {
  height: 50px;
}

.header-bottom {
  display: flex;
  justify-content: space-around;
  gap: 15px;
  margin-top: 10px;
}

.header-button {
  display: flex;
  align-items: center;
  gap: 5px;
  border: none;
  background: none;
  cursor: pointer;
  color: #333;
  font-size: 14px;
}

.header-button span {
  font-size: 24px;
}
